nav.navbar.puzzle-nav-bar
  .container-fluid
    .navbar-header.puzzle-navbar-header
      button.navbar-toggle.collapsed(
        type='button',
        data-toggle='collapse',
        data-target='#navbar',
        aria-expanded='false',
        aria-controls='navbar'
      )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .brand-container
        img.puzzle-logo(
          src='../../images/puzzzz.png',
          alt='puzzle logo'
        )
        span.puzzle-brand-name PuZZZle Game
    .navbar-collapse.collapse#navbar(aria-expanded='false' style='height: 1px;')
      .nav_bar_tabs
      .navbar-right.controls-container